In [1]:
import pandas as pd
import numpy as np
import csv

## 국민연금 가입

In [2]:
f1 = "국민연금공단_국민연금 가입 사업장 내역_20240119.csv"
pensionDF = pd.read_csv(f1, encoding="cp949")

C:\Users\kdp\AppData\Local\Temp\ipykernel_19156\2669654754.py:2: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  pensionDF = pd.read_csv(f1, encoding="cp949")

In [3]:
pensionDF.head()

,자료생성년월,사업장명,사업자등록번호,사업장가입상태코드 1 등록 2 탈퇴,우편번호,사업장지번상세주소,사업장도로명상세주소,고객법정동주소코드,고객행정동주소코드,법정동주소광역시도코드,법정동주소광역시시군구코드,법정동주소광역시시군구읍면동코드,사업장형태구분코드 1 법인 2 개인,사업장업종코드,사업장업종코드명,적용일자,가입자수,당월고지금액,신규취득자수,상실가입자수
0,23-Dec,(주)니프코코리아,211814,1,31409,충청남도 아산시 둔포면,충청남도 아산시 둔포면 아산밸리남로,4420036032,4420036032,44,200,360,1,252901,포장용 플라스틱 성형용기 제조업,1988-01-01,586,301703340,1,0
1,23-Dec,신일기업(주),201810,1,4537,서울특별시 중구 충무로2가,서울특별시 중구 퇴계로,1114012500,1114055000,11,140,125,1,381002,NaN,1988-01-01,19,6727780,1,0
2,23-Dec,디에스디엘(주),104811,1,4526,서울특별시 중구 남대문로4가,서울특별시 중구 세종대로,1114011700,1114054000,11,140,117,1,701201,비주거용 건물 임대업(점포 자기땅),1988-01-01,16,5194300,0,0
3,23-Dec,(주)헤럴드,104810,1,4336,서울특별시 용산구 후암동,서울특별시 용산구 후암로4길,1117010100,1117051000,11,170,101,1,221200,잡지 및 정기 간행물 발행업,1988-01-01,322,130867200,6,8
4,23-Dec,연합뉴스(주),102812,1,3143,서울특별시 종로구 수송동,서울특별시 종로구 율곡로2길,1111012400,1111061500,11,110,124,1,221200,잡지 및 정기 간행물 발행업,1988-01-01,825,410437380,3,10

In [4]:
pensionDF.columns

Index(['자료생성년월', '사업장명', '사업자등록번호', '사업장가입상태코드 1 등록 2 탈퇴', '우편번호', '사업장지번상세주소',
       '사업장도로명상세주소', '고객법정동주소코드', '고객행정동주소코드', '법정동주소광역시도코드', '법정동주소광역시시군구코드',
       '법정동주소광역시시군구읍면동코드', '사업장형태구분코드 1 법인 2 개인', '사업장업종코드', '사업장업종코드명',
       '적용일자', '가입자수', '당월고지금액', '신규취득자수', '상실가입자수'],
      dtype='object')

사용할 데이터 col을 뽑아보자

In [5]:
pensionDF = pensionDF[["사업장명", "사업장지번상세주소", "가입자수", "당월고지금액"]]

"사업장지번상세주소" -> "본사주소"로 변경

In [6]:
pensionDF.columns = ["사업장명", "본사주소", "가입자수", "당월고지금액"]
pensionDF.columns

Index(['사업장명', '본사주소', '가입자수', '당월고지금액'], dtype='object')

### 주소분리

In [7]:
pensionDF.sort_values("당월고지금액")

                                  사업장명             본사주소    가입자수       당월고지금액
432762              영양군청 상생 국민지원금 지급사업     경상북도 영양군 영양읍       0            0
253477                      주식회사민트아이엔씨  서울특별시 영등포구 여의도동       0            0
513727   대운건설주식회사/일용/감천초등학교 병설유치원 개축공사     경상북도 김천시 감천면       0            0
458297  주식회사럭키종합건설/일용/쌍동리 59-26번지 신축공사      경기도 광주시 초월읍       0            0
513723                      （주）포테이토소프트    서울특별시 은평구 대조동       0            0
...                                ...              ...     ...          ...
150647                      엘지디스플레이(주)  서울특별시 영등포구 여의도동   27978  14141978700
134977                   에스케이하이닉스 주식회사      경기도 이천시 부발읍   31145  16237739840
13145                          엘지전자(주)  서울특별시 영등포구 여의도동   35609  18101199080
3244                          현대자동차(주)    서울특별시 서초구 양재동   68427  34364239440
4286                           삼성전자(주)  경기도 수원시 영통구 매탄동  120877  63041891780

[536602 rows x 4 columns]

In [8]:
addr = pd.DataFrame(pensionDF["본사주소"])
addr = addr["본사주소"].apply(lambda x : x.split()[:2])
addr =	pd.DataFrame(addr.tolist(), columns=('시도', '군구'))
addr.head()

      시도   군구
0   충청남도  아산시
1  서울특별시   중구
2  서울특별시   중구
3  서울특별시  용산구
4  서울특별시  종로구

In [9]:
pensionDF[["시도", "군구", "나머지 주소"]] = pensionDF["본사주소"].str.split(' ', n=2, expand=True)
pensionDF.head()

        사업장명             본사주소  가입자수     당월고지금액     시도   군구  나머지 주소
0  (주)니프코코리아     충청남도 아산시 둔포면   586  301703340   충청남도  아산시     둔포면
1    신일기업(주)   서울특별시 중구 충무로2가    19    6727780  서울특별시   중구   충무로2가
2   디에스디엘(주)  서울특별시 중구 남대문로4가    16    5194300  서울특별시   중구  남대문로4가
3     (주)헤럴드    서울특별시 용산구 후암동   322  130867200  서울특별시  용산구     후암동
4    연합뉴스(주)    서울특별시 종로구 수송동   825  410437380  서울특별시  종로구     수송동

In [24]:
pensionDF = pensionDF.drop("본사주소", axis = True)

In [25]:
pensionDF["시도"].unique()

array(['충청남도', '서울특별시', '경기도', '인천광역시', '충청북도', '강원특별자치도', '부산광역시',
       '전라남도', '울산광역시', '전북특별자치도', '경상북도', '세종특별자치시', '대구광역시', '경상남도', '',
       '제주특별자치도', '대전광역시', '광주광역시'], dtype=object)

## <hr>SW 기업 DF뽑기

In [10]:
f2 = "정보통신산업진흥원_SW산업정보종합시스템 사업자정보DB_20221031.csv"
swDF = pd.read_csv(f2, encoding="cp949")

In [11]:
swDF

,회사명,대표이사,홈페이지,본사주소,재무현황연도
0,(주)라이드소프트,강태훈,http://www.rydesoft.com,"경기도 성남시 수정구 탄리로 57, 성남벤처빌딩 207호 (수진동)",2009
1,(주)코제코,문시환,http://www.pressblog.co.kr,"서울 서초구 반포대로 90(서초동, 세환빌딩5층)",2011
2,(주)시코에프에이,김관중,http://www.sico.so.kr,"서울특별시 금천구 가산디지털2로 114, 3층 302호 (가산동)",2009
3,하니웰에어포트시스템즈게엠베하한국지점,귄테르쉬펜회펠,http://,"인천광역시 중구 공항동로295번길 124, 신불2단지 (운서동)",2009
4,지하정보기술(주),김창동,http://,"경기도 의왕시 이미로 40, 디동 디 609호 (포일동, 인덕원아이티밸리)",2019
...,...,...,...,...,...
52587,토탈시스,고대식,http://,"서울특별시 구로구 신도림로17길 15, 1동 9층 2호(신도림동, 온리빌딩)",2021
52588,맘스퀘스천,심재우,http://,"서울특별시 강남구 강남대로156길 14, 203호 (신사동)",2021
52589,인지믹스,김주현,http://,"대구광역시 달서구 상인로 128, 2층 205호(상인동, 달서구시니어기술창업센터)",2021
52590,(주)서이시스템,박형호,http://www.seoisystem.com,"경기도 하남시 미사강변중앙로7번안길 25, A동 5층 503호 (풍산동, 유테크밸리)",2021
52591,(주) 진군,정진,http://,"경기도 성남시 분당구 판교역로192번길 16, 8층 806호 에이601(삼평동, 판...",2021

In [12]:
swDF.columns

Index(['회사명', '대표이사', '홈페이지', '본사주소', '재무현황연도'], dtype='object')

In [13]:
swDF = swDF[["회사명", "본사주소"]]
swDF.head()

                   회사명                                       본사주소
0            (주)라이드소프트      경기도 성남시 수정구 탄리로 57, 성남벤처빌딩 207호 (수진동)
1               (주)코제코                서울 서초구 반포대로 90(서초동, 세환빌딩5층)
2            (주)시코에프에이       서울특별시 금천구 가산디지털2로 114, 3층 302호 (가산동)
3  하니웰에어포트시스템즈게엠베하한국지점        인천광역시 중구 공항동로295번길 124, 신불2단지 (운서동)
4            지하정보기술(주)  경기도 의왕시 이미로 40, 디동 디 609호 (포일동, 인덕원아이티밸리)

회사명 -> 사업장명으로 변경

In [14]:
swDF.columns = ["사업장명", "본사주소"]
swDF.head()
# f.reindex(columns=['http_status', 'user_agent'])

                  사업장명                                       본사주소
0            (주)라이드소프트      경기도 성남시 수정구 탄리로 57, 성남벤처빌딩 207호 (수진동)
1               (주)코제코                서울 서초구 반포대로 90(서초동, 세환빌딩5층)
2            (주)시코에프에이       서울특별시 금천구 가산디지털2로 114, 3층 302호 (가산동)
3  하니웰에어포트시스템즈게엠베하한국지점        인천광역시 중구 공항동로295번길 124, 신불2단지 (운서동)
4            지하정보기술(주)  경기도 의왕시 이미로 40, 디동 디 609호 (포일동, 인덕원아이티밸리)

In [15]:
swDF[["시도", "군구", "나머지 주소"]] = pensionDF["본사주소"].str.split(' ', n=2, expand=True)
swDF.head()

C:\Users\kdp\AppData\Local\Temp\ipykernel_19156\907975517.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  swDF[["시도", "군구", "나머지 주소"]] = pensionDF["본사주소"].str.split(' ', n=2, expand=True)
C:\Users\kdp\AppData\Local\Temp\ipykernel_19156\907975517.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  swDF[["시도", "군구", "나머지 주소"]] = pensionDF["본사주소"].str.split(' ', n=2, expand=True)

,사업장명,본사주소,시도,군구,나머지 주소
0,(주)라이드소프트,"경기도 성남시 수정구 탄리로 57, 성남벤처빌딩 207호 (수진동)",충청남도,아산시,둔포면
1,(주)코제코,"서울 서초구 반포대로 90(서초동, 세환빌딩5층)",서울특별시,중구,충무로2가
2,(주)시코에프에이,"서울특별시 금천구 가산디지털2로 114, 3층 302호 (가산동)",서울특별시,중구,남대문로4가
3,하니웰에어포트시스템즈게엠베하한국지점,"인천광역시 중구 공항동로295번길 124, 신불2단지 (운서동)",서울특별시,용산구,후암동
4,지하정보기술(주),"경기도 의왕시 이미로 40, 디동 디 609호 (포일동, 인덕원아이티밸리)",서울특별시,종로구,수송동

In [20]:
swDF = swDF.drop("본사주소", axis=True)

In [21]:
swDF["시도"].unique()

array(['충청남도', '서울특별시', '경기도', '인천광역시', '충청북도', '강원특별자치도', '부산광역시',
       '전라남도', '울산광역시', '전북특별자치도', '경상북도', '세종특별자치시', '대구광역시', '경상남도', '',
       '제주특별자치도', '대전광역시', '광주광역시'], dtype=object)

## join 사업장명을 기준으로
-swDF / pensionDF

In [39]:
mergeDF = pd.merge(swDF, pensionDF, on=["사업장명", "시도"])
mergeDF.head()

           사업장명     시도 군구_x 나머지 주소_x  가입자수    당월고지금액 군구_y 나머지 주소_y
0     (주)시코에프에이  서울특별시   중구   남대문로4가    14   6049380  금천구      가산동
1  (주)엠플러스테크놀러지  서울특별시  강남구      역삼동     7   2147640  강서구      가양동
2    에이원정보기술(주)  서울특별시  노원구      공릉동    14   4974980  마포구      동교동
3     (주)라이트브레인  서울특별시  강남구      청담동    85  31278200  강남구      신사동
4       (주)제니스텍  서울특별시   중구    을지로1가    22   6546240  성동구    성수동2가

In [41]:
mergeDF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3068 entries, 0 to 3067
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   사업장명      3068 non-null   object
 1   시도        3068 non-null   object
 2   군구_x      3068 non-null   object
 3   나머지 주소_x  3068 non-null   object
 4   가입자수      3068 non-null   int64
 5   당월고지금액    3068 non-null   int64
 6   군구_y      3068 non-null   object
 7   나머지 주소_y  3068 non-null   object
dtypes: int64(2), object(6)
memory usage: 215.7+ KB